<header>
  <div id="menu_desktop">
    <h1 (click)="redirect('')">Thoth</h1>
    @if(router.url !== '/login'){
    <nav>
      <ul>
        <li><a (click)="redirect('workspace')">Workspace</a></li>
        <li><a href="#features">Features</a></li>
        <li><a href="#pricing">Pricing</a></li>
        <li><a href="#faq">FAQ</a></li>
      </ul>
    </nav>
    <button (click)="redirect('login')">Sign In</button>
    }@else {
    <button (click)="redirect('')">Back</button>
    }
  </div>
  <!--  -->
  <button id="button_mobile" (click)="toggleMenuMobile()">
    @if(isOpenMenuMobile){
    <lucide-angular [img]="X"></lucide-angular>
    }@else {
    <lucide-angular [img]="Menu"></lucide-angular>
    }
  </button>
  @if(isOpenMenuMobile){
  <div id="menu_mobile">
    <nav>
      <ul>
        <li><a (click)="redirect('')">Home</a></li>
        @if(router.url !== "/login"){
        <li><a (click)="redirect('workspace')">Workspace</a></li>
        <li><a href="#features">Features</a></li>
        <li><a href="#pricing">Pricing</a></li>
        <li><a href="#faq">FAQ</a></li>
        }
      </ul>
      @if(router.url === "/"){
      <button (click)="redirect('login')">Sign In</button>
      }
    </nav>
  </div>
  }
</header>