#note-view {
    display: flex;
    flex-direction: column;
    height: 100%;
}

input,
select {
    width: 150px;
}

#note-view-left {
    padding: 1rem;
    display: flex;
    flex-direction: column;

    #note-list {
        height: 200px;
        flex-grow: 1;
        overflow: auto;
    }
}

#note-filter-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#note-add {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
        font-size: 24px;
    }
}

#note-filter {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;

    select {
        width: 100%;
    }
}

#note-view-right {
    position: relative;
    padding: 1rem;
    border-top: var(--border-dashed);
}

#note-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;

    span {
        font-size: 24px;
    }
}

#bt_target {
    margin-left: auto;
}


.note-footer-contents {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}


.active {
    background: var(--dark);
    color: var(--light);
}

textarea {
    border: var(--border);
    padding: 0.5rem;
}

.ellipsis-note {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
}

@media screen and (min-width:1024px) {
    #note-view {
        flex-direction: row;
    }

    #note-view-left {
        border-right: var(--border-dashed);
        width: 400px;
    }

    #note-view-right {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        border-top: none;
    }

    textarea {
        flex-grow: 1;
    }

    .ellipsis-note {
        max-width: 400px;
    }


}