<div id="note-view-container">
  <div id="note-view-left">
    <div id="notebook">
      <div id="notebook-header">
        @if(canUserEditNotebookTitle && canUserEditNotebook()){
        <input type="text" style="flex-grow:1; width:150px" [(ngModel)]="selectedNotebook.title">
        }@else {
        <span style="font-size: 24px;" class="ellipsis"><strong>{{selectedNotebook.title}}</strong></span>
        }
        <div class="flex align-center gap-4">
          <app-button-icon name="plus" (click)="addNotebook()" title="New notebook" />
          <app-button-icon [name]="canUserEditNotebookTitle ? 'bookopen':'pencil'" (click)="toggleEditNotebookTitle()"
            [title]="canUserEditNotebookTitle ? 'Read' : 'Edit'" [disabled]="!canUserEditNotebook()" />
          <app-button-icon name="trash" (click)="deleteNotebook()" title="Delete" [disabled]="!canUserEditNotebook()" />
        </div>
      </div>
      <div id="notebook-change">
        <select name="" id="" style="width: 100%;" [(ngModel)]="selectedNotebook">
          @for(notebook of notebooks; track notebook){
          <option [ngValue]="notebook">{{notebook.title}}</option>
          }
        </select>
      </div>
    </div>
    <div id="note-container">
      <div class="flex flex-col gap-4">
        <div class="flex justify-between align-center">
          <div class="flex gap-4" style="font-size: 24px;">
            <span><strong>Notes</strong></span>
            <span><strong>({{countNote}})</strong></span>
          </div>
          <div class="flex gap-4">
            @if(!isNoteSelected() || !isMobile){
            <app-button-icon name="plus" (click)="addNote()" title="Add" />
            }@else {
            <app-button-icon name="chevronleft" (click)="unselectNote()" title="Back" />
            }
            <div #noteFiltersRef id="note-filters-container">
              <app-button-icon name="funnel" title="Filter" (click)="toggleNoteFilters()" />
              @if(isVisibleNoteFilters){
              <div id="note-filters">
                <div class="flex flex-col">
                  <label for="changeword"><small>Search</small></label>
                  <input id="changeword" name="changeword" type="search" placeholder="Title note..." style="width:100%;"
                    [(ngModel)]="searchValue" (ngModelChange)="onSearchChange($event)">
                </div>
                <div class="flex flex-col">
                  <label for="changestatus"><small>Status</small></label>
                  <select name="changestatus" id="changestatus" style="width: 100%;" [(ngModel)]="selectedStatus">
                    <option [ngValue]="statusDefaultFilter">All</option>
                    @for(state of status; track state){
                    <option [ngValue]="state">{{state.title}}</option>
                    }
                  </select>
                </div>
                <div class="flex flex-col">
                  <label for="changepriority"><small>Priority</small></label>
                  <select name="changepriority" id="changepriority" style="width: 100%;" [(ngModel)]="selectedPriority">
                    <option [ngValue]="priorityDefaultFilter">All</option>
                    @for(priority of priorities; track priority){
                    <option [ngValue]="priority">{{priority.title}}</option>
                    }
                  </select>
                </div>
                <div class="flex flex-col">
                  <label for="changeuser"><small>User</small></label>
                  <select name="changeuser" id="changeuser" style="width: 100%;">
                    <option>Alice</option>
                    <option>John</option>
                  </select>
                </div>
                <button class="flex flex-col justify-center align-center m-auto w-full" (click)="resetFilters()">Reset
                  filters</button>
              </div>
              }
            </div>
            <app-button-icon name="trash" [disabled]="countDeletedNote === 0" (click)="emptyTrash()"
              title="Empty trash" />
          </div>
        </div>
        <hr class="w-full">
      </div>

      @if(!isMobile || selectedNote === defaultNote){
      <div id="note-list-mega-container">
        <div id="note-list-container">
          <app-note-list id="note-list" [notes]="filteredNotes" [selectedNote]="selectedNote"
            (noteSelected)="selectNote($event)" />
        </div>
      </div>
      }
    </div>
  </div>
  <div id="note-view-right">
    @if (existingNote() && selectedNote) {
    <div class="flex flex-wrap align-center justify-between gap-4">
      @if(isEditMode){
      <input type="text" style="flex-grow:1" [(ngModel)]="selectedNote.title">
      }@else {
      <span style="font-size: 24px;" class="ellipsis-note"><strong>{{selectedNote.title}}</strong></span>
      }
      <div class="flex flex-wrap align-center gap-4">
        <app-button-icon [name]="isEditMode ? 'bookopen': 'pencil'" (click)="toggleEditMode()"
          [title]="isEditMode ? 'Read' : 'Edit'" />
        <app-button-icon [name]="selectedNote.pinned ? 'pinoff': 'pin'" (click)="togglePinNote()"
          [title]="selectedNote.pinned ? 'Unpin': 'Pin'" />
        <app-button-icon name="copyplus" (click)="duplicateNote()" title="Duplicate" />
        <app-button-icon [name]="selectedNote.archived ? 'archiverestore': 'archive'" (click)="toggleArchiveNote()"
          [title]="selectedNote.archived ? 'Restore archive' : 'Archive'" />
        @if(selectedNote.deleted){
        <app-button-icon name="shredder" (click)="deleteNotePermanently()" title="Delete permanently" />
        <app-button-icon name="rotateccw" (click)="restoreNote()" title="Restore" />
        }@else {
        <app-button-icon name="trash" (click)="deleteNote()" title="Move to trash" />
        }
        <div #noteSettingsRef id="note-settings-container">
          <app-button-icon name="ellipsis" title="Settings" (click)="toggleNoteSettings()" />
          @if(isVisibleNoteSettings){
          <div id="note-settings">
            <div class="flex flex-col">
              <label for="selectnotebook"><small>Notebook</small></label>
              <select name="selectnotebook" id="selectnotebook" [(ngModel)]="changedNotebookID"
                (ngModelChange)="onNotebookChange($event)">
                @for(notebook of notebooks; track notebook){
                <option [ngValue]="notebook.id">{{notebook.title}}</option>
                }
              </select>
            </div>
            <div class="flex flex-col">
              <label for="selectstatus"><small>Status</small></label>
              <select name="selectstatus" id="selectstatus" [(ngModel)]="changedStatusID"
                (ngModelChange)="onStatusChange($event)">
                @for(state of status; track state){
                <option [ngValue]="state.id">{{state.title}}</option>
                }
              </select>
            </div>
            <div class="flex flex-col">
              <label for="selectpriority"><small>Priority</small></label>
              <select name="selectpriority" id="selectpriority" [(ngModel)]="changedPriorityID"
                (ngModelChange)="onPriorityChange($event)">
                @for(priority of priorities; track priority){
                <option [ngValue]="priority.id">{{priority.title}}</option>
                }
              </select>
            </div>
            <div class="flex flex-col">
              <label for="selectuser"><small>Assign</small></label>
              <select name="selectuser" id="selectuser">
                <option>Alice</option>
                <option>John</option>
              </select>
            </div>
            <div class="flex flex-col mb-6">
              <label for=""><small>Tags</small></label>
              <input type="text" placeholder="My tag..." class="mb-4">
              <button class="flex flex-col justify-center align-center m-auto w-full">Add</button>
            </div>
            <div class="flex flex-col">
              <label for=""><small>Start date</small></label>
              <input type="date">
            </div>
            <div class="flex flex-col">
              <label for=""><small>Due date</small></label>
              <input type="date">
            </div>
            <div class="flex flex-col">
              <label for=""><small>Duration (days)</small></label>
              <input type="number">
            </div>
          </div>
          }
        </div>
      </div>
    </div>
    <div class="flex flex-wrap align-center gap-4">
      <div class="flex align-center" style="gap:0.2rem">
        <app-lucide-icon name="calendar" [size]="16" />
        <small>Créé le 15/01/2024</small>
      </div>
      <div class="flex align-center" style="gap:0.2rem">
        <app-lucide-icon name="clock" [size]="16" />
        <small>Échéance: 25/10/2024</small>
      </div>
    </div>
    <div class="flex align-center" style="gap:0.2rem">
      <app-lucide-icon name="tags" [size]="16" />
      <small style="border:var(--border);padding:0.1rem 0.2rem;">tag</small>
    </div>
    <div class="flex align-center" style="gap:0.2rem">
      <app-lucide-icon name="link" [size]="16" />
      <small style="text-decoration: underline;cursor: pointer;">link</small>
    </div>

    <hr>
    @if(isEditMode){
    <textarea [(ngModel)]="selectedNote.content" class="w-full" style="height: 100%;"
      placeholder="Start writing..."></textarea>
    }
    @else {
    <div>{{selectedNote.content}}</div>
    }
    }@else if(!isMobile){
    <div class="flex flex-col justify-center m-auto align-center gap-6">
      <app-lucide-icon name="file" [size]="42" />
      <span><strong>Select a note to start editing</strong></span>
      <span>Choose a note from the sidebar or create a new one</span>
    </div>
    }
  </div>
</div>