<div id="note-view">
    @if (!isFocusMode){

    <div id="note-view-left" class="gap-4">
        <div class="flex gap-4 mb-6">
            <div class="flex flex-col w-full">
                <div class="flex align-center justify-between gap-4" style="margin-bottom: 0.5rem;">
                    @if(isEditNotebookTitle && selectedNotebook !== defaultNotebook){
                    <input type="text" style="flex-grow:1" [(ngModel)]="selectedNotebook.title">
                    }@else {
                    <span style="font-size: 24px;" class="ellipsis"><strong>{{selectedNotebook.title}}</strong></span>
                    }
                    <div class="flex align-center gap-4">
                        <app-button-icon name="pencil" (click)="toggleEditNotebookTitle()" title="Edit"
                            [disabled]="selectedNotebook === defaultNotebook" />
                        <app-button-icon name="trash" (click)="deleteNotebook()" title="Delete"
                            [disabled]="selectedNotebook === defaultNotebook" />
                        <app-button-icon name="plus" (click)="addNotebook()" title="New notebook" />
                    </div>
                </div>
                <div class="flex align-center gap-4">
                    <select name="" id="" style="width: 100%;" [(ngModel)]="selectedNotebook">
                        @for(notebook of notebooks; track notebook){
                        <option [ngValue]="notebook">{{notebook.title}}</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-4">
            <div class="flex justify-between align-center">
                <div class="flex gap-4" style="font-size: 24px;">
                    <span><strong>Notes</strong></span>
                    <span><strong>({{countNote}})</strong></span>
                </div>
                <app-button-icon name="plus" (click)="addNote()" title="New note" />
            </div>
            <input type="search" placeholder="Search notes..." style="width:100%;">
            <div class="flex gap-4 justify-between">
                <select name="" id="" style="width: 100%;">
                    <option value="">Tous</option>
                    <option value="">Draft</option>
                    <option value="">Todo</option>
                    <option value="">In progress</option>
                    <option value="">Finished</option>
                    <option value="">Archived</option>
                    <option value="">Trash</option>
                </select>
                <app-button-icon name="funnel" title="Filter" />
            </div>
        </div>
        <!-- notelist -->
        <hr>
        <div id="note-list" class="flex flex-col">
            @for(note of filteredNotes; track note.id){
            <app-note-list-item [note]="note" (click)="selectNote(note)" [ngClass]="{active: selectedNote === note}" />
            }
            @empty {
            <div class="flex flex-col justify-center m-auto align-center gap-6">
                <app-lucide-icon name="file" [size]="42" />
                <span><strong>No notes found</strong></span>
            </div>
            }
        </div>

    </div>
    }
    <div id="note-view-right" class="flex flex-col w-full gap-4" [ngClass]="{focus: isFocusMode}">
        @if(existingNote() && selectedNote){
        <div class="flex align-center gap-4 justify-between">
            @if(isEditMode){
            <input type="text" style="flex-grow:1" [(ngModel)]="selectedNote.title">
            }@else {
            <span style="font-size: 24px;" class="ellipsis-note"><strong>{{selectedNote.title}}</strong></span>
            }
            <div class="flex align-center gap-4">
                @if (isEditMode){
                <app-button-icon name="bookopen" (click)="toggleEditMode()" title="Read mode" />
                }
                @else {
                <app-button-icon name="pencil" (click)="toggleEditMode()" title="Edit mode" />
                }
                @if(!isFocusMode){

                @if (selectedNote.pinned){
                <app-button-icon name="pinoff" (click)="togglePinNote()" title="Unpin" />
                }
                @else {
                <app-button-icon name="pin" (click)="togglePinNote()" title="Pin" />
                }

                <app-button-icon name="copyplus" (click)="duplicateNote()" title="Duplicate" />
                <app-button-icon name="trash" (click)="deleteNote()" title="Delete" />
                }
                <app-button-icon name="target" (click)="toggleFocusMode()" title="Focus mode" />
            </div>
        </div>
        <!-- info -->
        @if(isEditMode){
        <div class="flex flex-wrap align-center gap-6">
            <div class="flex flex-col">
                <label for=""><small>Change Notebook</small></label>
                <select name="" id="" [(ngModel)]="changedNotebookID" (ngModelChange)="onNotebookChange($event)">
                    @for(notebook of notebooks; track notebook){
                    <option [ngValue]="notebook.id">{{notebook.title}}</option>
                    }
                </select>
            </div>
            <div class="flex flex-col">
                <label for=""><small>Status</small></label>
                <select name="" id="">
                    <option value="">Draft</option>
                    <option value="">Todo</option>
                    <option value="">In progress</option>
                    <option value="">Finished</option>
                    <option value="">Archived</option>
                </select>
            </div>
            <div class="flex flex-col">
                <label for=""><small>Priority</small></label>
                <select name="" id="">
                    <option value="">Do it</option>
                    <option value="">Schedule it</option>
                    <option value="">Delegate it</option>
                    <option value="">Delete it</option>
                </select>
            </div>
            <div class="flex flex-col">
                <label for=""><small>Assign to</small></label>
                <select name="" id="">
                    <option value="" selected disabled>Select a user</option>
                    <option value="">Aucun</option>
                    <option value="">Alice</option>
                    <option value="">John</option>
                </select>
            </div>
            <div class="flex flex-col">
                <label for=""><small>Tag</small></label>
                <div class="flex align-center gap-4">
                    <input type="text">
                    <app-button-icon name="plus" title="New tag" />
                </div>
            </div>
        </div>
        <div class="flex flex-wrap align-center gap-6">
            <div class="flex flex-col">
                <label for=""><small>Start date</small></label>
                <input type="date">
            </div>
            <div class="flex flex-col">
                <label for=""><small>Due date</small></label>
                <input type="date">
            </div>
            <div class="flex flex-col">
                <label for=""><small>Duration (days)</small></label>
                <input type="number">
            </div>
        </div>
        }
        @else {
        <div class="flex flex-wrap align-center gap-4">
            <div class="flex align-center" style="gap:0.2rem">
                <app-lucide-icon name="calendar" [size]="16" />
                <small>Créé le 15/01/2024</small>
            </div>
            <div class="flex align-center" style="gap:0.2rem">
                <app-lucide-icon name="clock" [size]="16" />
                <small>Échéance: 25/10/2024</small>
            </div>
            <div class="flex align-center" style="gap:0.2rem">
                <app-lucide-icon name="user" [size]="16" />
                <small>Assigné à Alice</small>
            </div>
        </div>
        <div class="flex align-center" style="gap:0.2rem">
            <app-lucide-icon name="tags" [size]="16" />
            <small>#tag</small>
        </div>
        <div class="flex align-center" style="gap:0.2rem">
            <app-lucide-icon name="link" [size]="16" />
            <small>link</small>
        </div>
        }
        <hr>
        <!-- content -->
        @if(isEditMode){
        <textarea [(ngModel)]="selectedNote.content" class="w-full" placeholder="Start writing..."></textarea>
        }
        @else {
        <div>{{selectedNote.content}}</div>
        }
        }@else {
        <div class="flex flex-col justify-center m-auto align-center gap-6">
            <app-lucide-icon name="file" [size]="42" />
            <span><strong>Select a note to start editing</strong></span>
            <span>Choose a note from the sidebar or create a new one</span>
        </div>
        }
    </div>
</div>