article {
    border: var(--border);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-shadow: var(--shadow);

    footer {
        margin-top: auto;
    }
}