/* Extra Small - <576px */
.container {
    width: 100%;
    margin: auto;
}

/* Small - ≥576px */
@media (min-width: 576px) {
    .container {
        width: 510px;
    }
}

/* Medium - ≥768px */
@media (min-width: 768px) {
    .container {
        width: 700px;
    }
}

/* Large - ≥1024px */
@media (min-width: 1024px) {
    .container {
        width: 950px;
    }
}

/* Extra Large - ≥1280px */
@media (min-width: 1280px) {
    .container {
        width: 1200px;
    }
}

/* Extra Extra Large - ≥1536px */
@media (min-width: 1536px) {
    .container {
        width: 1450px;
    }
}