.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.h-max {
    height: 100vh;
    height: 100dvh;
}

.my-6 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mb-4 {
    margin-bottom: 0.5rem;
}

.mb-6 {
    margin-bottom: 1rem;
}

.mb-8 {
    margin-bottom: 2rem;
}

.ml-6 {
    margin-left: 1rem;
}

.ml-auto {
    margin-left: auto;
}

.m-auto {
    margin: auto;
}

.gap-4 {
    gap: 0.5rem;
}

.gap-6 {
    gap: 1rem;
}

.gap-8 {
    gap: 2rem;
}

.text-center {
    text-align: center;
}

.text-xl {
    font-size: 2rem;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.border-bottom {
    border-bottom: var(--border);
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

@media screen and (min-width:768px) {
    .md\:flex-row {
        flex-direction: row;
    }

    .md\:justify-between {
        justify-content: space-between;
    }
}