<div class="note-list-item" [class.selected]="selected" (click)="onSelect()">
    <div class="mb-6">
        <div class="flex align-center justify-between">
            <div class="flex align-center gap-4">
                <app-lucide-icon [name]="iconStatus" [size]="20" />
                <strong class="ellipsis">{{note.title}}</strong>
            </div>
            @if(note.pinned){
            <app-lucide-icon name="pin" [size]="20" />
            }
        </div>
        <p class="ellipsis">{{note.content}}</p>
    </div>
    <div class="flex align-center gap-4 mb-4">
        <app-lucide-icon name="notebook" [size]="16" />
        <span>Notebook 1</span>
    </div>
    <div class="flex align-center gap-4 mb-4">
        <app-lucide-icon name="tags" [size]="16" />
        <div class="flex align-center gap-4">
            <kbd>tag</kbd>
            <kbd>tag</kbd>
            <kbd>+1</kbd>
        </div>
    </div>
    <div class="flex align-center gap-4 mb-4">
        <app-lucide-icon name="user" [size]="16" />
        <span>John Doe</span>
    </div>
    <div class="flex flex-wrap align-center justify-between">
        <mark>{{priority | uppercase}}</mark>
        <span><small>{{note.created_at | date:'shortTime'}}</small></span>
    </div>

</div>