ul {
    list-style-type: none;
}


#container_workspace {
    height: 100vh;
    height: 100dvh;
}


#buttons_mobile {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

#menu_mobile {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 4rem;
    border-bottom: var(--border);
    background-color: var(--light);
    z-index: 3;

    nav {
        padding: 1rem;
    }

    nav,
    ul {
        display: flex;
        flex-direction: column;
    }
}

#panel_left {
    display: none;
}

nav,
ul {
    width: 100%;
}

li {
    width: 100%;
    cursor: pointer;
    padding: 0.5rem;
    border: 1px solid transparent;
    border-collapse: collapse;
    margin-bottom: -1px;

    &:hover {
        border: var(--border);
        cursor: pointer;
    }

    &.active {
        border: var(--border);
    }
}

@media screen and (min-width:896px) {
    #container_workspace {
        display: flex;
        flex-direction: row;
    }

    #buttons_mobile,
    #menu_mobile {
        display: none;
    }

    #panel_left {
        display: grid;
        grid-template-rows: 1fr auto;
        border-right: var(--border);
        height: 100%;
        padding: 1rem;
        padding-right: 0;

    }


    .panel_left_views {
        display: flex;
        flex-direction: column;
    }

    #panel_left_views_title {
        margin-bottom: 1rem;
    }


    #panel_right {
        width: 100%;
    }

    .panel_left_view {
        display: grid;
        grid-template-columns: 24px 120px;
        align-items: center;
        padding: 0.5rem;
        gap: 1rem;
        border: 1px solid transparent;
        margin-bottom: -1px;
        margin-right: -1px;
        transition: 0.2s ease-in-out;

        &:hover {
            border: var(--border-dashed);
            cursor: pointer;
        }

        &.active {
            border: var(--border);
            border-right: 1px solid var(--light);
            margin-right: -1px;
        }
    }
}

.display {
    display: none;
}