ul {
    list-style-type: none;
}


#container_workspace {
    height: 100vh;
}


#buttons_mobile {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
}

#menu_mobile {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 3rem;
    background-color: var(--light);
    background-repeat: repeat;
    background-size: auto;
    background-image: url("/noise-lines.png");
    border-bottom: var(--border);

    nav {
        padding: 0 1rem 0.5rem 1rem;
    }

    nav,
    ul {
        display: flex;
        flex-direction: column;
    }
}

#panel_left {
    display: none;
}

nav,
ul {
    width: 100%;
}

li {
    width: 100%;
    cursor: pointer;
    padding: 0.5rem;

    &:hover {
        background: var(--dark-bright);
        color: var(--light);
        cursor: pointer;
    }

    &.active {
        background: var(--dark);
        color: var(--light);
    }
}

@media screen and (min-width:768px) {
    #container_workspace {
        display: flex;
        flex-direction: row;
    }

    #buttons_mobile,
    #menu_mobile {
        display: none;
    }

    #panel_left {
        display: grid;
        grid-template-rows: 0.5fr 1fr auto;
        border-right: var(--border);
        height: 100%;
        padding: 0.5rem;
    }

    #panel_left_notebooks {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5rem;
    }

    #panel_left_notebooks_title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.5rem;
    }

    .panel_left_views {
        display: flex;
        flex-direction: column;
    }

    #panel_left_views_title {
        margin-bottom: 0.5rem;
    }


    #panel_right {
        width: 100%;
    }

    .panel_left_view {
        display: grid;
        grid-template-columns: 24px 120px;
        align-items: center;
        padding: 0.5rem;
        gap: 1rem;

        &:hover {
            background: var(--dark-bright);
            color: var(--light);
            cursor: pointer;

            svg {
                stroke: var(--light);
            }
        }

        &.active {
            background: var(--dark);
            color: var(--light);

            svg {
                stroke: var(--light);
            }
        }
    }
}