<div id="container_workspace">
    <div id="buttons_mobile">
        <app-button-icon name="appwindow" (click)="toggleMenuMobile()" title="Change view" />
    </div>
    @if(isOpenMenuMobile){
    <div id="menu_mobile">
        <nav>
            <ul>
                @for(view of views; track view.title){
                <li (click)="selectView(view.title)" [ngClass]="{active: selectedView === view.title}">
                    {{view.title | titlecase}}
                </li>
                }
                @for(view of bottomViews; track view.title){
                <li (click)="selectView(view.title)" [ngClass]="{active: selectedView === view.title}">
                    {{view.title | titlecase}}
                </li>
                }
            </ul>
        </nav>
    </div>
    }
    <div id="panel_left">
        <div class="panel_left_views">
            <div id="panel_left_views_title">
                <span style="font-size: 24px;"><strong>Views</strong></span>
            </div>
            @for(view of views; track view.title){
            <div (click)="selectView(view.title)" class="panel_left_view"
                [ngClass]="{active: selectedView === view.title}">
                <app-lucide-icon [name]="view.icon" />
                <span>{{view.title | titlecase}}</span>
            </div>
            }
        </div>
        <div class="panel_left_views">
            @for(view of bottomViews; track view.title){
            <div (click)="selectView(view.title)" class="panel_left_view"
                [ngClass]="{active: selectedView === view.title}">
                <app-lucide-icon [name]="view.icon" />
                <span>{{view.title | titlecase}}</span>
            </div>
            }
        </div>
    </div>
    <div id="panel_right">
        <ng-container [ngComponentOutlet]="viewComponents[selectedView]"></ng-container>
    </div>
</div>