<section id="header">
  <div>
    <h2>Note taking app</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum totam, culpa, veritatis in vel mollitia
      aspernatur aut quibusdam soluta nemo quae! Aperiam veritatis saepe pariatur.</p>
    <div class="buttons">
      <button class="primary">Start taking notes
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-arrow-right-icon lucide-arrow-right">
          <path d="M5 12h14" />
          <path d="m12 5 7 7-7 7" />
        </svg>
      </button>
      <button>Watch demo</button>
    </div>
  </div>
  <img src="https://picsum.photos/300/300" alt="">
</section>
<section id="keyfigures">
  <div class="keyfigure">
    <p>10K+</p>
    <span>Active user</span>
  </div>
  <div class="keyfigure">
    <p>500K+</p>
    <span>Created note</span>
  </div>
  <div class="keyfigure">
    <p>99.9%</p>
    <span>Uptime</span>
  </div>
  <div class="keyfigure">
    <p>4.9/5</p>
    <span>Satisfaction</span>
  </div>
</section>
<section id="features">
  <div id="features-top">
    <span>FEATURES</span>
    <p>Everything you need in one place</p>
  </div>
  <div id="features-bottom">
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-file-icon lucide-file">
        <path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z" />
        <path d="M14 2v4a2 2 0 0 0 2 2h4" />
      </svg>
      <p class="feature-title">Smart taking notes</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure, ipsum.</p>
    </div>
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-file-icon lucide-file">
        <path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z" />
        <path d="M14 2v4a2 2 0 0 0 2 2h4" />
      </svg>
      <p class="feature-title">Smart taking notes</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure, ipsum.</p>
    </div>
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-file-icon lucide-file">
        <path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z" />
        <path d="M14 2v4a2 2 0 0 0 2 2h4" />
      </svg>
      <p class="feature-title">Smart taking notes</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure, ipsum.</p>
    </div>
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-file-icon lucide-file">
        <path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z" />
        <path d="M14 2v4a2 2 0 0 0 2 2h4" />
      </svg>
      <p class="feature-title">Smart taking notes</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure, ipsum.</p>
    </div>
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-file-icon lucide-file">
        <path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z" />
        <path d="M14 2v4a2 2 0 0 0 2 2h4" />
      </svg>
      <p class="feature-title">Smart taking notes</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure, ipsum.</p>
    </div>
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-file-icon lucide-file">
        <path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z" />
        <path d="M14 2v4a2 2 0 0 0 2 2h4" />
      </svg>
      <p class="feature-title">Smart taking notes</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure, ipsum.</p>
    </div>
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-file-icon lucide-file">
        <path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z" />
        <path d="M14 2v4a2 2 0 0 0 2 2h4" />
      </svg>
      <p class="feature-title">Smart taking notes</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure, ipsum.</p>
    </div>
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-file-icon lucide-file">
        <path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z" />
        <path d="M14 2v4a2 2 0 0 0 2 2h4" />
      </svg>
      <p class="feature-title">Smart taking notes</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure, ipsum.</p>
    </div>
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-file-icon lucide-file">
        <path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z" />
        <path d="M14 2v4a2 2 0 0 0 2 2h4" />
      </svg>
      <p class="feature-title">Smart taking notes</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure, ipsum.</p>
    </div>
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-file-icon lucide-file">
        <path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z" />
        <path d="M14 2v4a2 2 0 0 0 2 2h4" />
      </svg>
      <p class="feature-title">Smart taking notes</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure, ipsum.</p>
    </div>
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-file-icon lucide-file">
        <path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z" />
        <path d="M14 2v4a2 2 0 0 0 2 2h4" />
      </svg>
      <p class="feature-title">Smart taking notes</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure, ipsum.</p>
    </div>
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-file-icon lucide-file">
        <path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z" />
        <path d="M14 2v4a2 2 0 0 0 2 2h4" />
      </svg>
      <p class="feature-title">Smart taking notes</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure, ipsum.</p>
    </div>
  </div>
</section>
<section id="pricing">
  <div id="pricing-top">
    <span>PRICING</span>
    <p>Choose the plan that's right for you</p>
  </div>
  <div id="pricing-bottom">
    <div class="card">
      <div class="pricing-header">
        <p class="pricing-title">Free</p>
        <p class="pricing-price"><span class="price">0€</span>/month</p>
      </div>
      <ul>
        <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-check-icon lucide-check">
            <path d="M20 6 9 17l-5-5" />
          </svg>
          Feature 1</li>
        <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-check-icon lucide-check">
            <path d="M20 6 9 17l-5-5" />
          </svg>
          Feature 2</li>

      </ul>
      <button>Get started free</button>
    </div>
    <div class="card">
      <div class="pricing-header">
        <p class="pricing-title" style="font-weight: bold;">Pro</p>
        <p class="pricing-price"><span class="price">9€</span>/month</p>
      </div>
      <ul>
        <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-check-icon lucide-check">
            <path d="M20 6 9 17l-5-5" />
          </svg>
          Feature 1</li>
        <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-check-icon lucide-check">
            <path d="M20 6 9 17l-5-5" />
          </svg>
          Feature 2</li>
        <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-check-icon lucide-check">
            <path d="M20 6 9 17l-5-5" />
          </svg>
          Feature 3</li>
      </ul>
      <button class="primary">Start pro trial</button>
    </div>
    <div class="card">
      <div class="pricing-header">
        <p class="pricing-title">Team</p>
        <p class="pricing-price"><span class="price">19€</span>/month</p>
      </div>
      <ul>
        <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-check-icon lucide-check">
            <path d="M20 6 9 17l-5-5" />
          </svg>
          Feature 1</li>
        <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-check-icon lucide-check">
            <path d="M20 6 9 17l-5-5" />
          </svg>
          Feature 2</li>
        <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-check-icon lucide-check">
            <path d="M20 6 9 17l-5-5" />
          </svg>
          Feature 3</li>
        <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-check-icon lucide-check">
            <path d="M20 6 9 17l-5-5" />
          </svg>
          Feature 4</li>
      </ul>
      <button>Contact us</button>
    </div>

  </div>
  <p style="text-align: center;">All plans include a 14-day free trial</p>
</section>
<section id="faq">
  <div id="faq-top">
    <span>FAQ</span>
    <p>Common questions</p>
  </div>
  <div id="faq-bottom">
    <div class="question">
      <div class="question-header">
        <span>Question 1</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-chevron-down-icon lucide-chevron-down">
          <path d="m6 9 6 6 6-6" />
        </svg>
      </div>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam vel molestiae alias, sapiente tempore eum
        odio? Corporis, cupiditate dolore et totam sunt corrupti nulla debitis.</p>
    </div>
    <div class="question">
      <div class="question-header">
        <span>Question 2</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-chevron-down-icon lucide-chevron-down">
          <path d="m6 9 6 6 6-6" />
        </svg>
      </div>
    </div>
    <div class="question">
      <div class="question-header">
        <span>Question 3</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-chevron-down-icon lucide-chevron-down">
          <path d="m6 9 6 6 6-6" />
        </svg>
      </div>
    </div>
    <div class="question">
      <div class="question-header">
        <span>Question 4</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-chevron-down-icon lucide-chevron-down">
          <path d="m6 9 6 6 6-6" />
        </svg>
      </div>
    </div>
    <div class="question">
      <div class="question-header">
        <span>Question 5</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-chevron-down-icon lucide-chevron-down">
          <path d="m6 9 6 6 6-6" />
        </svg>
      </div>
    </div>
    <div class="question">
      <div class="question-header">
        <span>Question 6</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-chevron-down-icon lucide-chevron-down">
          <path d="m6 9 6 6 6-6" />
        </svg>
      </div>
    </div>

  </div>
</section>
<section id="ready">
  <div id="ready-top">
    <span>READY TO GET STARTED?</span>
    <p>Start your free trial today</p>
  </div>
  <div class="buttons" style="margin:auto;">
    <button class="primary">Start free trial
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-arrow-right-icon lucide-arrow-right">
        <path d="M5 12h14" />
        <path d="m12 5 7 7-7 7" />
      </svg>
    </button>
    <button>Sign In</button>
  </div>
</section>