<app-header />
<div id="container_form">
  <form (ngSubmit)="onSubmitForm()" [formGroup]="authForm">
    <fieldset>
      <legend>{{isRegisterForm ? 'Register': 'Welcome Back'}}</legend>
      <span class="mb-8">Sign in to access to your notes!</span>

      @if (isRegisterForm){
      <div class="container-field-name">
        <div class="field_col">
          <label for="firstname">Firstname</label>
          <input id="firstname" type="text" name="firstname" [formControl]="propFirstname" placeholder="John">
          @if (propFirstname.hasError("required") && propFirstname.touched){
          <small>Firstname required</small>
          }
        </div>
        <div class="field_col">
          <label for="lastname">Lastname</label>
          <input id="lastname" type="text" name="lastname" [formControl]="propLastname" placeholder="Doe">
          @if (propLastname.hasError("required") && propLastname.touched){
          <small>Lastname required</small>
          }
        </div>
      </div>
      }
      <div class="field_col">
        <label for="email">Email Address</label>
        <input id="email" type="email" name="email" [formControl]="propEmail" placeholder="johndoe@example.com">
        @if(propEmail.hasError('pattern') && propEmail.touched){
        <small>Email invalid</small>
        }
        @else if (propEmail.hasError("required") && propEmail.touched){
        <small>Email required</small>
        }
      </div>
      <div class="field_col">
        <div style="display:flex;justify-content: space-between;">
          <label for="password">Password</label>
          @if(!isRegisterForm){
          <span>Forgot password?</span>
          }
        </div>
        <div class="field--password">
          <input [type]="isVisiblePassword ? 'text' : 'password'" name="password" [formControl]="propPassword"
            placeholder="****">
          <div>
            <app-lucide-icon [name]="isVisiblePassword ? 'eye': 'eyeoff'" (click)="togglePassword()" />
          </div>
        </div>
        @if (propPassword.hasError("required") && propPassword.touched){
        <small>Password required</small>
        }
        @else if (propPassword.hasError("pattern") && propPassword.touched){
        <small>At least 8 characters, 1 uppercase letter, 1 number, and 1 special character required</small>
        }
      </div>
      <div class="field_col">
        <input type="text" style="display: none" autocomplete="off" tabindex="-1" name="website"
          [formControl]="propHoneypot" />
      </div>
      <div class="field_row">
        @if(isRegisterForm){
        <label for="condition" class="checkbox-wrapper">
          <input id="condition" type="checkbox" name="condition" [formControl]="propCondition" />
          Accepter les conditions
        </label>
        }
        @else {
        <label for="remember" class="checkbox-wrapper">
          <input id="remember" type="checkbox" name="remember" [formControl]="propRemember" />
          Remember me
        </label>
        }
      </div>
      <input type="submit" value="Sign Up" class="primary" [disabled]="authForm.invalid || propHoneypot.value !== ''">
      <span>{{isRegisterForm ? 'Already have an account?' : "Don't have an account?" }}
        <a (click)="toggleForm()">Sign {{isRegisterForm ? 'In' : 'Up'}}</a>
      </span>
    </fieldset>
  </form>
</div>
<app-footer />