#container_form {
  padding: 0 1rem;
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 5rem auto;
  max-width: 500px;
  border: var(--border-card);
  box-shadow: var(--shadow-card);
}

h2 {
  font-weight: 600;
}

span {
  font-weight: 300;
  font-size: smaller;
}



button {
  margin: auto;
  margin: 1rem auto;
}

input[type="submit"] {
  margin: 1rem 0;
}

a {
  text-decoration: underline;
  font-weight: 500;
}

.separator {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0;
}

.border-dashed {
  border-top: var(--border-dashed);
  height: 1px;
  width: 100%;
}

.field_col {
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 1rem;
  text-align: left;
}

.field_row {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.field--password {
  display: flex;
  align-items: center;
  position: relative;

  input {
    padding-right: 2rem;
    flex-grow: 1;
  }

  div {
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0.2rem;
    cursor: pointer;
  }
}