@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");
* {
  box-sizing: border-box;
}
:root {
  --grey: #5a6374;
  --red: #e06c75;
  --green: #98c379;
  --yellow: #e5c07b;
  --brown: #8b572a;
  --blue: #61afef;
  --violet: #c678dd;
  --white: #f2f2f2;
  --text-color: var(--grey);
  --background: #282c34;
  --light-grey: rgba(0, 0, 0, 0.14);
  --light-grey-2: #bbb;
  --light-grey-3: #757575;
  --border-color: 1px solid var(--light-grey);
  --bg-color: white;
  --bg-blockquote: var(--light-grey);
  --text-color: var(--grey);
  --border-color: 1px solid var(--light-grey);
}
/* classes */
.w-full {
  width: 100%;
  box-sizing: border-box;
}
.text-center{
  text-align: center;
}
.content-center{
  align-content:center;
}
.mx-auto{
  margin:0 auto;
}

.flex{
  display: flex;
}
.justify-between{
  justify-content: space-between;
}
.gap-4{
  gap:0.5rem;
}
.row {
  display: flex;
  margin: 1rem 0;
  gap: 1rem;
}


.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.67%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.67%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.67%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.67%;
}

.col-12 {
  width: 100%;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding:1rem;
}

[data-theme="dark"] {
  --bg-color: var(--background);
  --bg-blockquote: var(--grey);
  --text-color: var(--white);
  --border-color: 1px solid var(--light-grey-2);
}
[data-theme="light"] {
  --bg-color: white;
  --bg-blockquote: var(--light-grey);
  --text-color: var(--grey);
  --border-color: 1px solid var(--light-grey);
}
html {
  font-size: 16px;
}

body {
  font-family: "Ubuntu", serif;
  line-height: 1.65;
  font-style: normal;
  color: var(--text-color);
  background: var(--bg-color);
}
nav {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 1rem 0;
  border-bottom: var(--border-color);
  max-width: 960px;
  margin: 0 auto; 
}
nav a {
  margin: 0;
}

footer{
  border-top: var(--border-color);
  max-width: 960px;
  margin: 0 auto; 
  padding:1rem 0;
}
a,
a.primary,
p.primary,
span.primary{
  color: var(--blue);
}
a.success,
p.success,
span.success {
  color: var(--green);
}
a.warning,
p.warning,
span.warning{
  color: var(--yellow);
}
a.danger,
p.danger,
span.danger {
  color: var(--red);
}

p {
  font-size: 1rem;
  margin: 0 0 0.5rem 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", serif;
  font-weight: 300;
  line-height: 1.15;
  margin: 0;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.1rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.15rem;
}

h6 {
  font-size: 1rem;
}

/* button */
button,
a.button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
  height: 38px;
  display: inline-block;
  box-sizing: border-box;
  border: var(--border-color);
  background: transparent;
  color: var(--text-color);
  padding: 0 1rem;
  border-radius: 5px;
  font-size: 0.75rem;
  line-height: 38px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-decoration: none;
  align-items: center;
  &:hover {
    cursor: pointer;
    border-color: var(--grey);
  }
}

button.primary,
input[type="submit"].primary,
input[type="button"].primary,
a.button.primary {
  background: var(--blue);
  color: var(--white);
  border-color: var(--blue);
  &:hover {
    opacity: 0.9;
    border-color: var(--blue);
  }
}
button.danger,
a.button.danger {
  background: var(--red);
  color: var(--white);
  border-color: var(--red);
  &:hover {
    opacity: 0.9;
    border-color: var(--red);
  }
}

button[disabled] {
  color: var(--light-grey-2);
  &:hover {
    cursor: not-allowed;
    border: var(--border-color);
  }
}
/* forms */
label {
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}
label input {
  width: 1rem;
}
input,
textarea,
select,
datalist {
  border: 1px solid var(--light-grey-2);
  background: transparent;
  border-radius: 5px;
  padding: 0.5rem;
  outline: none;
  color: var(--text-color);
  font-family: "Ubuntu", serif;
  font-size: 1.15rem;
  margin-bottom: 0.5rem;
  box-sizing: border-box;
}
option {
  background: var(--bg-color);
}
::placeholder {
  color: var(--light-grey-2);
}
input[type="date"],
input[type="file"] {
  color: var(--light-grey-2);
}
input[type="file"]{
  font-size:0.96rem;
}
input:focus,
textarea:focus,
select:focus {
  border-color: var(--blue);
}
input[type="checkbox"],
input[type="radio"] {
  margin: 0;
  cursor: pointer;
}
.colorpick-eyedropper-input-trigger {
  display: none;
}
/* blockquote */
blockquote:before {
  content: open-quote;
  position: absolute;
  left: 1rem;
  font-size: 1.15rem;
}
blockquote {
  margin: 0;
  padding: 0.2rem 0.2rem 0.2rem 2rem;
  border-left: 1px solid var(--light-grey-2);
  background: var(--white);
  background: var(--bg-blockquote);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
}

/* tables */
table {
  border-collapse: collapse;
  overflow-x: auto;
}
th,
td {
  text-align: left;
  border-bottom: 1px solid var(--light-grey-2);
  padding:1rem 0;
}
/* details */
details {
  margin-bottom: 0.5rem;
  border: 1px solid var(--light-grey-2);
  border-radius: 5px;
  padding: 0.5rem;
}
/* fieldset */
fieldset {
  border: 1px solid var(--light-grey-2);
  border-radius: 5px;
  padding: 0.5rem;
}
legend {
  padding: 0 0.5rem;
}
/* hr */
hr {
  border-top: 1px solid var(--light-grey-2);
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin-top: 3rem;
  margin-bottom: 3.5rem;
}
/* breadcrumb */
.breadcrumb {
  list-style: none;
  display: flex;
  padding: 0 20px;
  margin: 1rem 0 0 0;
}
.breadcrumb li:not(:first-child)::before {
  content: "/";
  margin: 0.5em;
}

/* section */
section {
  padding: 3rem 1.5rem;
  margin-bottom: 1rem;
}


/* image */
img{
  max-width: 100%;
  height:auto;
  border-radius: 5px;

}

figure{
  margin:0;
}
figcaption{
  text-align: center;
}
/* media queries */
@media (min-width: 400px) {
  .container {
    width: 90%;
  }
  nav {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .row {
    flex-wrap: wrap;
  }
  .col {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.6rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.44rem;
  }
}