<header>
  <h1>Thoth</h1>
    <nav>
      <ul>
        <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
        <li><a routerLink="" fragment="features">Features</a></li>
        <li><a routerLink="" fragment="pricing">Pricing</a></li>
        <li><a routerLink="" fragment="faq">FAQ</a></li>
      </ul>
      <a routerLink="login" routerLinkActive="active">
        <button>Sign In</button>
      </a>
    </nav>
    <button id="bt_bars">
      <lucide-angular [img]="Menu"></lucide-angular>
    </button>
</header>