<header>
  <h1>Thoth</h1>
  <nav>
    <ul>
      <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
      <li><a routerLink="" fragment="features">Features</a></li>
      <li><a routerLink="" fragment="pricing">Pricing</a></li>
      <li><a routerLink="" fragment="faq">FAQ</a></li>
    </ul>
    <a routerLink="login" routerLinkActive="active">
      <button>Sign In</button>
    </a>
  </nav>
  <button id="bt_bars">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
      stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-menu-icon lucide-menu">
      <path d="M4 12h16" />
      <path d="M4 18h16" />
      <path d="M4 6h16" />
    </svg>
  </button>
</header>