::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover-thumb);
  cursor: pointer;
}
::-webkit-scrollbar:horizontal {
  height: 5px;
}

::-webkit-scrollbar-track:horizontal {
  background: var(--scrollbar-track-horizontal);
}

::-webkit-scrollbar-thumb:horizontal {
  background: var(--scrollbar-thumb-horizontal);
}
