.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.pl-2rem {
  padding-left: 2rem;
}
.p-6 {
  padding: 1rem;
}
.px-6 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.pb-6 {
  padding-bottom: 1rem;
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.align-center {
  align-items: center;
}
.gap-2 {
  gap: 0.2rem;
}
.gap-4 {
  gap: 0.5rem;
}
.gap-6 {
  gap: 1rem;
}
.gap-16 {
  gap: 16px;
}
.grid {
  display: grid;
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.rounded {
  border-radius: 50%;
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.mb-4 {
  margin-bottom: var(--space-4);
}
.mb-8 {
  margin-bottom: var(--space-8);
}
.mb-16 {
  margin-bottom: var(--space-16);
}
.text-red {
  color: var(--red);
}
.no-scroll {
  overflow: hidden;
}

.display-desktop {
  display: none;
}
@media screen and (min-width: 960px) {
  .display-mobile {
    display: none;
  }
  .display-desktop {
    display: flex;
  }
}
