<div id="eisenhower-view">
    <div id="columns">
        <div class="col">
            <div class="flex flex-col gap-4">
                <span><strong>Important & Urgent</strong></span>
                <div>
                    <mark>DO IT</mark>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="flex flex-col gap-4">
                <span><strong>Important & Non Urgent</strong></span>
                <div>
                    <mark>SCHEDULE IT</mark>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="flex flex-col gap-4">
                <span><strong>Non Important & Urgent</strong></span>
                <div>
                    <mark>DELEGATE IT</mark>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="flex flex-col gap-4">
                <span><strong>Non Important & Non Urgent</strong></span>
                <div>
                    <mark>DELETE IT</mark>
                </div>
            </div>
        </div>
    </div>
</div>